---
// src/components/Card.astro
const {name, position, aboutMe, linkedin, github, facebook, email, cvLink, profileImage } = Astro.props;
import '../styles/card.css';
---

<div class="container">
    <div class="card-container">
        <div class="descripcion">
            <h1>{name}</h1>
            <h2>{position}</h2>
            <p set:html={aboutMe}></p>
            <div class="icons">
                {facebook && (
                    <a href={facebook} class="hover-text" target="_blank">
                        <span class="tooltip-text" id="fade">Facebook</span>
                        <i class="bi bi-facebook"></i>
                    </a>
                )}

                {github && (
                    <a href={github} class="hover-text" target="_blank">
                        <span class="tooltip-text" id="fade">GitHub</span>
                        <i class="bi bi-github"></i>
                    </a>
                )}

                {linkedin && (
                    <a href={linkedin} class="hover-text" target="_blank">
                        <span class="tooltip-text" id="fade">LinkedIn</span>
                        <i class="bi bi-linkedin"></i>
                    </a>
                )}

                {cvLink && (
                    <a href={cvLink} class="hover-text" target="_blank">
                        <span class="tooltip-text" id="fade">Resume</span>
                        <i class="bi bi-file-earmark-arrow-down"></i>
                    </a>
                )}

                {email && (
                    <div class="hover-text copy-email-btn" data-email={email}>
                        <span class="tooltip-text" id="copy-tooltip">Click to Copy</span>
                        <i class="bi bi-envelope-at-fill"></i>
                    </div>
                )}
            </div>
        </div>
        <div class="image">
            <img src={profileImage} alt={name}>
        </div>
    </div>
</div>

<script>
  const copyBtn = document.querySelector('.copy-email-btn');
  const tooltip = document.getElementById('copy-tooltip');

  if (copyBtn && tooltip) {
    copyBtn.addEventListener('click', () => {
      const email = copyBtn.getAttribute('data-email');
      if (email) {
        navigator.clipboard.writeText(email).then(() => {
          const originalText = tooltip.innerText;
          tooltip.innerText = "Copied!";
          tooltip.style.opacity = "1";
          
          setTimeout(() => {
            tooltip.innerText = originalText;
            tooltip.style.opacity = "";
          }, 2000);
        });
      }
    });
  }
</script>